* {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #be8186;
}

header {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(55, 66, 75);
    padding: 10px;
}
input[type='search'] {
    font-weight: 500;
    text-align: left;
    height: 6vh;
    width: 15vw;
    border: 2px solid rgba(128, 128, 128, 0.158);
    border-radius: 100px;
    padding: 10px;
    background-color:hsla(351, 72%, 69%, 0.048);
    accent-color: hsla(351, 72%, 69%, 0.199);
}
#signup {
    background-color: #C86978;
    height: 6vh;
    width: 8vw;
    color: aliceblue;
    font-weight: 500;
    border: none;
    border-radius: 2px;
}
#signin {
    color: rgba(55, 66, 75, 0.651);
    background-color: rgba(255, 255, 255, 0);
    height: 6vh;
    width: 8vw;
    font-weight: 700;
    border: 1px solid #C86978;
    border-radius: 2px;
}
header .links-header a {
    color: rgb(55, 66, 75);
    font-weight: 600;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15vh;
}
.container-apresentacao span {
    color: hsl(351, 72%, 69%);

}
.container-apresentacao h1 {
    color: rgb(55, 66, 75);
    font-size: 30px;
}

.container-apresentacao p {
    color: rgba(55, 66, 75, 0.808);
    font-size: 17px;
}

.container-apresentacao button {
    height: 7.2vh;
    width: 13vw;
    background-color: #C86978;
    font-weight: bold;
    color: aliceblue;
    border: none;
    border-radius: 3px;
}

.container-svg #freepik_stories-ecommerce-web-page {
    width: 40vw;
}

.container-svg #freepik_stories-ecommerce-web-page {
    animation: upbottom 2.5s infinite alternate;
}

.recursos-loja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 160px;
    background-color: #fde7ec79;
}

.recursos {
    text-align: justify;
    width: 21vw;
    padding-bottom: -70vh;
}

.recursos img {
    width: 9vw;
}

@keyframes upbottom {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    input[type='search'] {
        width: 37vw;
    }
    header .links-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    header button{
        font-size: 12px;
    }
    header #signin {
        width: 16vw;
    }
    header #signup {
        width: 16vw;
    }
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .container-apresentacao button {
        width: 30vw;
        height: 7.1vh;
    }

    .container-svg #freepik_stories-ecommerce-web-page {
        width: 80vw;
    }

    .recursos-loja {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        gap: 20px;
    }

    .recursos {
        text-align: justify;
        width: 80vw;
        padding: 10px;
    }
    .recursos img {
        width: 19vw;
    }
}